@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "tailwindcss/screens";

@font-face {
    font-family: 'VT323';
    src: url("/fonts/VT323-Regular.ttf");
}

* {
    font-family: "VT323";
    font-size: 20px;
}
